@model APP_ELTIEMPO_PRUEBA.Models.LoginViewModel

@{
    Layout = "~/Views/Inicio/_Layout.cshtml";
}

@using (Html.BeginForm("Index", "Login", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div>
        @Html.LabelFor(m => m.usuario)
        @Html.TextBoxFor(m => m.usuario)
    </div>
    <div>
        @Html.LabelFor(m => m.contrasena)
        @Html.PasswordFor(m => m.contrasena)
    </div>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <button type="submit">Iniciar sesión</button>
}
